/* .number-slide1,
.number-slide2,
.number-slide3,
.number-slide4,
.number-slide5,
.number-slide6,
.number-slide7 {
  background-color: transparent;
  color: black;
}
.keen-slider {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 22.5%,
    rgb(0, 0, 0) 77.5%,
    rgba(0, 0, 0, 0) 100%
  );
  align-items: center;
  justify-content: center;
} */


.keenslider__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.support__crosstag {
    font-size: 14px;
    margin: 0 auto;
}