@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
  font-family: "Inter", sans-serif;
  /* color: #000000; */
}

html { scroll-behavior: smooth; }

body {
  /* color: white; */
  /* background-color: #f3f3f3; */
  overflow-x: hidden;
}

section {
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  /* border: none; */
  cursor: pointer;
}

button,
input {
  /* font-size: 100%; */
  line-height: inherit;
  /* color: inherit; */
  /* margin: 0px; */
}

/* img {
  width: 100%;
} */

ul {
  list-style: none;
}

.uplift {
  padding-top: 40px;
}
video {
  z-index: -998;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.row {
  max-width: 1280px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.grey {
  color: darkgrey;
}

.bai__button {
  /* this is the basic button layout for balanceai */
  padding: 6px 12px;
  font-weight: 400;
  font-size: 13px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.bai__button--white {
  background: #ffffff;
  border: 1.25px solid #000000;
  color: #000000;
}

.bai__button--black {
  /* this is the black button layout for balanceai */
  background: #000000;
  border: 1.25px solid #000000;
  color: #ffffff;
}

.bai__button--white:hover {
  background-color: #000000;
  color: #ffffff;
}

.bai__button--black:hover {
  background-color: #ffffff;
  color: #000000;
}

.bai__button--focus:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  /* scale: .975; */
}

.logo-invert {
  /* logo invert for bai */
  filter: invert(0);
}

.align-end {
  text-align: end;
}

.number-slide1,
.number-slide2,
.number-slide3,
.number-slide4,
.number-slide5,
.number-slide6,
.number-slide7 {
  background-color: transparent;
  color: black;
  text-align: center;
}
.keen-slider {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 22.5%,
    rgb(0, 0, 0) 77.5%,
    rgba(0, 0, 0, 0) 100%
  );
  align-items: center;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
