.filler {
}

.filler__row {
}

.filler__container {
  /* display: flex; */
}

.filler__section1,
.filler__section2 {
  display: flex;
}

.filler__text {
  flex: 1.75;
  padding-top: 80px;
  /* text-align: center; */
}
.filler__heading {
  font-size: 36px; /* Bigger title */
  line-height: 1.4;
  /* font-weight: bold; */
  margin-bottom: 1.5rem; /* Increase margin bottom */
}

.filler__subheading {
  line-height: 1.25;
  font-size: 18px; /* Smaller description */
  margin-bottom: 1.5rem; /* Increase margin bottom */
}

.filler__description {
  font-size: 1rem; /* Smaller description */
  margin-bottom: 1.5rem; /* Increase margin bottom */
}

.bai__button--filler {
  padding: 0.5rem 1rem;
  font-size: 18px;
  /* cursor: pointer; */
  border: 2px solid white;
  background-color: transparent;
  margin-bottom: 1.5rem;
}

.filler__button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #333;
  background-color: #fff;
}

.filler__imageContainer {
  flex: 1;
  width: 350px;
}

.filler__image {
}
