.nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 40px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 11px 0px #00061a;
  z-index: 99999;
}

.nav__login {
  background-color: #232d3f;
  height: 8px;
  width: 100%;
  position: absolute;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px !important;
  padding: 0 24px;
}

.nav__lefthalf {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__spacer {
  margin: 0 24px 0 36px;
  max-width: 1px;
  height: 25px;
  border: 1.25px solid black;
}

.nav__logo {
  display: flex;
  align-items: center;
  color: #000000;
}

.nav__logo--img {
  margin-right: 1rem;
  width: 1.75rem;
}

.nav__logo--text {
  font-size: 24px;
  font-weight: 500;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  color: black;
  font-weight: 400;
  font-size: 13px;
  margin: 12px;
  transition: all 0.1s ease;
  cursor: pointer;
}

.nav__link:hover {
  color: #8e98ac;
}

.fachevdown {
  margin-left: 5px;
}

.nav__link--toggulus:hover {
  border-bottom: #000000 2px solid;
}

.dropdown {
  position: absolute;
  top: 100%;
  /* left: 0; */
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

.dropdown__item {
  padding: 10px 20px;
}

.dropdown__item a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown__item:hover {
  background-color: #f1f1f1;
}

.nav__button {
  margin-left: 10px;
  padding: 6px 12px;
  font-weight: 400;
  font-size: 13px;
  border: 1.25px solid #000000;
  border-radius: 4px;
  background: #ffffff;
  transition: all 0.1s ease;
}

.nav__buttonmid {
  color: white;
  background-color: black;
}

.nav__toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.nav__toggle__icon {
  width: 25px;
  height: 2px;
  background-color: white;
  display: block;
  position: relative;
}

.nav__toggle__icon::before,
.nav__toggle__icon::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
}

.nav__toggle__icon::before {
  top: -8px;
}

.nav__toggle__icon::after {
  bottom: -8px;
}

@media (max-width: 768px) {
  .nav__list {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #0f0f0f;
  }

  .nav__list__open {
    display: flex;
  }

  .nav__toggle {
    display: block;
  }

  .nav__button--container {
    display: none;
  }
}

@media (min-width: 769px) {
  .nav__button--container {
    display: flex;
  }
}

/* .nav__button:hover {
  background: rgb(255, 255, 255);
  border-color: #8e98ac;
  color: #8e98ac;
} */

/* .nav__button--container {
}
*/
.nav__link--analytics {
  /* Targeted home class for navbar / inquire if confused   */
  margin-right: 24px;
  font-weight: 600;
  font-size: 16px;
}

.nav__link--pbai {
  font-size: 14px;
  font-weight: 600;
}
