.platform {
}

.platform__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platform__use {
  color: #bb955f;
  text-transform: uppercase;
  text-align: center;
}

.platform__h2 {
  color: #FFFFFF;
  margin-top: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.01em;
  text-align: center;
}

.platform__databring {
    font-size: 20px;
    margin-top: 36px;
    color: #FFFFFF;
}

.platform__boxes {
    /* color: white; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.platform__box {
    color: #FFFFFF;
    width: calc(100% / 3);
}